@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

html,
body {
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
